<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP</title>
</head>
<body>
    <h1><center>**********SHOPEE**********</center></h1>
    {% for i in test_sh %}
        {% for key,value in i.items %}
            {% if key == 'Image_link' %}
                <img src = {{value}} width="10%" >
            {% elif key == 'Product Link' %}
                <a href= {{value}}>Shopee_product_link</a>
            {% elif key != 'cost' %}
                <p>{{key}} : {{ value }}</p>
            {% endif %}
            
        {% endfor %}
        <p></p>
    {% endfor %}
    
    <h1><center>************JD_CENTRAL**********</center></h1>
    {% for i in test_jd %}
        {% for key,value in i.items %}
            {% if key == 'Image_link' %}
                <img src = {{value}} width="10%" >
            {% elif key == 'Product Link' %}
                <a href= {{value}}>JD_Central_product_link</a>
            {% else %}
                <p>{{key}} : {{ value }}</p>
            {% endif %}
            
        {% endfor %}
        <p></p>
    {% endfor %}
</body>
</html>