<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แตงโม</title>
</head>
<body>
    {% block content %}
    <h2>search</h2>
    <form action="shop" methon = "get">
        <div class = "form-group">
            <input type="text" class = "form-control" name="item">
        </div>
        <input type = "submit" value= "submit" class = "btn btn-primary">
    </form>
    {% endblock %}
    </div>
</body>
</html>